.card-container{
    display: grid;
    row-gap: 3.5rem;

}

.card-article{
    position: relative;
    overflow: hidden;
}
.card-img{
    width: 450px;
    border-radius: 1.5rem;
}

.card-data{
    width: 280px;
    background-color: #f4f4f4;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0,0%,0%,0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s ;
}
.card-description{
    font-size: small;
    margin-bottom: 0.25rem;
}
.card-tittle{
    font-size: small;
    font-weight: 500;
    color: #a1a1a1;
    margin-bottom: 0.75rem  ;
}

.card-button{
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    color: #a1a1a1;
}
.card-button:hover{
    text-decoration: underline ;
}

.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}
.card-article:hover{
     animation: remove-overflow 2s forwards;
}

.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
    
}

@keyframes remove-overflow {
    to{overflow: initial;}
    
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;

    }
    
}