@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/*Dark theme*/
@theme{
  --color-primary: oklch(0.3756 0.0556 245.99);
  --color-secondary: oklch(0.6244 0.2235 8.55);
  --color-bg: oklch(0.2749 0.0188 258.37);
  --color-bgsecondary: oklch(0.3623 0.0154 259.81);
  --color-text: oklch(0.9196 0.0072 0);
}
/* Light theme*/
@layer base {
  [data-theme="light"] {
    --color-primary: oklch(0.5192 0.182 256.69);
    --color-secondary: oklch(0.6244 0.2235 8.55);
    --color-bg: oklch(0.9881 0 0);
    --color-bgsecondary: oklch(0.9581 0 0);
    --color-text: oklch(0.9196 0.0072 0);
  }
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.Small{
  height: 250px;
  width: 250px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#root,
.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0064CE;
    background-color: #F4F2F3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Mint Round';
  src: url('../public/fonts/MintRound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mint Round-Inline';
  src: url('../public/fonts/MintRoundInline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mint Round - Outline';
  src: url('../public/fonts/MintRoundOutline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

