@import "tailwindcss";

@theme {
  --color-myblue: oklch(0.5192 0.182 256.69);
  --color-myblack: oklch(0.1572 0.0267 199.35);
  --color-mypink: oklch(0.6244 0.2235 8.55);
  --color-mywhite: oklch(0.963 0.0025 345.21);
  --color-mycream: oklch(0.9143 0.0452 36.72);
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body {
  margin: 0;
  display: flex;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0064CE;
    background-color: #F4F2F3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
